<div class="container-fluid marco p-1 m-1">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="ci">Carnet de Identidad</label>
      <input type="text" class="form-control mb-3" formControlName="ci" #ci>
      <div *ngIf="form.controls['ci'].errors && (form.controls['ci'].touched||form.controls['ci'].dirty)" >
        <div *ngIf="form.controls['ci'].errors['required']" class="alert alert-danger">
            El código es requerido
        </div>
        <div *ngIf="form.controls['ci'].errors['minlength']" class="alert alert-danger">
          El ci debe tener un mínimo de 11 caracteres
        </div>
        <div *ngIf="form.controls['ci'].errors['maxlength']" class="alert alert-danger">
          El ci debe tener un maximo de 11 caracteres
        </div>
        <div *ngIf="form.controls['ci'].errors['validaCi']" class="alert alert-danger">
          El ci debe tener un formato valido
        </div>
      </div>
    </div>
    <div class="form-group">
      <button [hidden]="enviado" [disabled]="!form.valid" type="submit" class="btn btn-success">Send</button>
    </div>
  </form>

  <div class="container-fluid fondo p-1 m-1 alert alert-info" [hidden]="!enviado">
    CI: {{ci.value|ciToDate|date:'d MMM y'}}

  </div>
</div>
